body {
  margin: 0 30px;
  font-family: 'IBM Plex Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #14181a;
  color: #fff;
}

h1, h3 {
  color: #077df7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  text-decoration: none;
  color: white;
  background: #067df7;
  border: 1px solid #067df7;
  height: 30px;
  width: 70px;
  font-family: 'Space Mono', monospace;
  font-style: italic;
}

button:hover {
  color: #067df7;
  background: white;
  transition: 0.3s;
}
